<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2_stat.MeasurePartnerUserPassRateStatMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2_stat.MeasurePartnerUserPassRateStat" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tf_type" property="tfType" jdbcType="INTEGER" />
    <result column="tf_year" property="tfYear" jdbcType="INTEGER" />
    <result column="tf_idx" property="tfIdx" jdbcType="INTEGER" />
    <result column="proj_id" property="projId" jdbcType="INTEGER" />
    <result column="root_category_key" property="rootCategoryKey" jdbcType="VARCHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="company_role_id" property="companyRoleId" jdbcType="INTEGER" />
    <result column="partner_user_id" property="partnerUserId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="ok_total" property="okTotal" jdbcType="INTEGER" />
    <result column="total" property="total" jdbcType="INTEGER" />
    <result column="ok_rate" property="okRate" jdbcType="REAL" />
    <result column="result_passed_count" property="resultPassedCount" jdbcType="INTEGER" />
    <result column="result_count" property="resultCount" jdbcType="INTEGER" />
    <result column="result_passed_rate" property="resultPassedRate" jdbcType="REAL" />
    <result column="rank" property="rank" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, tf_type, tf_year, tf_idx, proj_id, root_category_key, version, company_role_id, 
    partner_user_id, user_id, ok_total, total, ok_rate, result_passed_count, result_count, 
    result_passed_rate, rank
  </sql>
</mapper>