<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2_stat.MeasureRepairerWorkloadStatMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2_stat.MeasureRepairerWorkloadStat" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tf_type" property="tfType" jdbcType="INTEGER" />
    <result column="tf_year" property="tfYear" jdbcType="INTEGER" />
    <result column="tf_idx" property="tfIdx" jdbcType="INTEGER" />
    <result column="proj_id" property="projId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="list_id" property="listId" jdbcType="INTEGER" />
    <result column="category_key" property="categoryKey" jdbcType="VARCHAR" />
    <result column="category_path_and_key" property="categoryPathAndKey" jdbcType="VARCHAR" />
    <result column="issue_assigned_count" property="issueAssignedCount" jdbcType="INTEGER" />
    <result column="issue_reformed_count" property="issueReformedCount" jdbcType="INTEGER" />
    <result column="issue_checked_count" property="issueCheckedCount" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="DOUBLE" />
    <result column="update_at" property="updateAt" jdbcType="DOUBLE" />
    <result column="delete_at" property="deleteAt" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, tf_type, tf_year, tf_idx, proj_id, user_id, list_id, category_key, category_path_and_key, 
    issue_assigned_count, issue_reformed_count, issue_checked_count, create_at, update_at, 
    delete_at
  </sql>
</mapper>