<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2.Area" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="custom_code" property="customCode" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="area_class_id" property="areaClassId" jdbcType="INTEGER" />
    <result column="is_lock" property="isLock" jdbcType="SMALLINT" />
    <result column="order_by" property="orderBy" jdbcType="INTEGER" />
    <result column="drawing_md5" property="drawingMd5" jdbcType="VARCHAR" />
    <result column="father_id" property="fatherId" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.longfor.longjian.measure.po.zhijian2.Area" extends="BaseResultMap" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="location" property="location" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, project_id, name, custom_code, path, type, area_class_id, is_lock, order_by, 
    drawing_md5, father_id, create_at, update_at, delete_at
  </sql>
  <sql id="Blob_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    location
  </sql>

  <select id="selectByFatherId" resultType="map">
    SELECT
    area_class_id areaClassId,
    create_at createAt,
    delete_at deleteAt,
    drawing_md5 drawingMd5,
    father_id fatherId,
    id,
    is_lock isLock,
    location,
    `name`,
    order_by orderBy,
    path,
    project_id projectId,
    type typ,
    update_at updateAt
    FROM
    area
    WHERE
    project_id = #{projectId}
    AND father_id = #{areaId}
    AND delete_at IS NULL
  </select>
</mapper>