<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2.MeasureRegionRelMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2.MeasureRegionRel" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="region_ids" property="regionIds" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, `desc`, project_id, region_ids, create_at, update_at, delete_at
  </sql>

  <select id="selectByRelId" resultType="map">
    SELECT
    id,
    `desc`,
    region_ids
    FROM
    measure_region_rel
    WHERE
    id = #{relId}
    AND delete_at IS NULL
  </select>

  <select id="searchRelUnscopedByProjIdUpdateAtGt" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    measure_region_rel
    WHERE
    project_id = #{projectId}
    <if test="updateAtGte != null and updateAtGte != '0001-01-01 00:00:00'">
      AND update_at = #{updateAtGte}
    </if>
  </select>
</mapper>