<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2.MeasureListIssueLogMapper">
    <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2.MeasureListIssueLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="attachment_md5_list" property="attachmentMd5List" jdbcType="VARCHAR"/>
        <result column="category_key" property="categoryKey" jdbcType="VARCHAR"/>
        <result column="desc" property="desc" jdbcType="VARCHAR"/>
        <result column="issue_uuid" property="issueUuid" jdbcType="VARCHAR"/>
        <result column="list_id" property="listId" jdbcType="INTEGER"/>
        <result column="project_id" property="projectId" jdbcType="INTEGER"/>
        <result column="sender_id" property="senderId" jdbcType="INTEGER"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="typ" property="typ" jdbcType="INTEGER"/>
        <result column="uuid" property="uuid" jdbcType="VARCHAR"/>
        <result column="client_create_at" property="clientCreateAt" jdbcType="TIMESTAMP"/>
        <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
        <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
        <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP"/>
        <result column="detail" property="detail" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--
          WARNING - @mbg.generated
        -->
        id, attachment_md5_list, category_key, desc, issue_uuid, list_id, project_id, sender_id,
        status, typ, uuid, client_create_at, create_at, update_at, delete_at,detail
    </sql>
    <!--List<Map<String,Object>> searchIssueLogListByListIdLastIdTimestampGt(@Param("projectId") Integer projectId, @Param("list_id")Integer list_id, @Param("last_id")Integer last_id, @Param("timestamp")Long timestamp, @Param("start")Integer start, @Param("pageSize")Integer pageSize);-->
    <select id="searchIssueLogListByListIdLastIdTimestampGt" resultMap="BaseResultMap">
        select
        id, attachment_md5_list, category_key, `desc`, issue_uuid, list_id, project_id, sender_id,
        status, typ, uuid, client_create_at, create_at, update_at, delete_at,detail
        from measure_list_issue_log
        where
        project_id=#{projectId}
        and list_id=#{list_id}
        and id > #{last_id}
        <if test="timestamp != null and timestamp >= 0">
            AND update_at > FROM_UNIXTIME( #{timestamp} )
        </if>
        limit #{start},#{pageSize}
    </select>
    <select id="getByUuidUnscoped" resultMap="BaseResultMap">
      SELECT
	     <include refid="Base_Column_List"/>
      FROM
	     measure_list_issue_log
      WHERE
	     uuid = #{uuid}
    </select>
</mapper>