<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2.MeasurePointRuleMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2.MeasurePointRule" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="key" property="key" jdbcType="VARCHAR" />
    <result column="allow_range" property="allowRange" jdbcType="VARCHAR" />
    <result column="count_init" property="countInit" jdbcType="INTEGER" />
    <result column="count_max" property="countMax" jdbcType="INTEGER" />
    <result column="count_min" property="countMin" jdbcType="INTEGER" />
    <result column="data_type" property="dataType" jdbcType="INTEGER" />
    <result column="design_value_reqd" property="designValueReqd" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="point_type" property="pointType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, key, allow_range, count_init, count_max, count_min, data_type, design_value_reqd, 
    name, point_type
  </sql>
</mapper>