<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2.MeasureListMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2.MeasureList" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="area_type" property="areaType" jdbcType="VARCHAR" />
    <result column="close_status" property="closeStatus" jdbcType="INTEGER" />
    <result column="finish_status" property="finishStatus" jdbcType="INTEGER" />
    <result column="root_category_key" property="rootCategoryKey" jdbcType="VARCHAR" />
    <result column="plan_begin_on" property="planBeginOn" jdbcType="TIMESTAMP" />
    <result column="plan_end_on" property="planEndOn" jdbcType="TIMESTAMP" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, name, project_id, area_type, close_status, finish_status, root_category_key, 
    plan_begin_on, plan_end_on, create_at, update_at, delete_at
  </sql>
</mapper>