<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.measure.dao.zhijian2.MeasureSquadMapper" >
  <resultMap id="BaseResultMap" type="com.longfor.longjian.measure.po.zhijian2.MeasureSquad" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="list_id" property="listId" jdbcType="INTEGER" />
    <result column="project_id" property="projectId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="plan_rate" property="planRate" jdbcType="INTEGER" />
    <result column="rate" property="rate" jdbcType="INTEGER" />
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP" />
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP" />
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, list_id, project_id, name, plan_rate, rate, create_at, update_at, delete_at
  </sql>

  <select id="searchMeasureSquadByListIdTimestampGt" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    measure_squad
    WHERE
    project_id = #{projectId}
    AND list_id = #{listId}
    <if test="updateAtGt != null and updateAtGt!= ''">
      AND AND update_at > #{updateAtGt}
    </if>
  </select>

  <insert id="insertMeasureSquad"
          parameterType="com.longfor.longjian.measure.po.zhijian2.MeasureSquad" useGeneratedKeys="true" keyProperty="id" >
    insert into measure_squad(list_id, project_id, name, plan_rate, rate, create_at, update_at) values
    (#{listId},#{projectId},#{name},#{planRate},#{rate},#{createAt},#{updateAt})

  </insert>
</mapper>