# ===================================================================
# springboot标准配置
# ===================================================================
spring:
  profiles:
    active: dev
  mvc:
    favicon:
      enabled: false
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
#    jackson: 这个是设置返回值是null的时候不返回，不过不太好使
#      default-property-inclusion: non_null

logging:
  level:
    ROOT: WARN
    com.longfor: INFO
    com.longfor.longjian.measure.dao : debug

management:
  security:
    enabled: false
  info:
    git:
      enabled: true
    env:
      enabled: true
endpoints:
  health:
    sensitive: false
  restart:
    enabled: true
  shutdown:
    enabled: true
  info:
    enabled: true
    sensitive: false

