<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.longfor.longjian.basic.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.longfor.longjian.basic.po.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="reg_time" jdbcType="INTEGER" property="regTime" />
    <result column="last_login_time" jdbcType="INTEGER" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="delete_at" jdbcType="TIMESTAMP" property="deleteAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_id, group_code, user_name, password, group_id, mobile, email, real_name, status, 
    reg_time, last_login_time, last_login_ip, create_at, update_at, delete_at
  </sql>
  <resultMap id="BaseResultMap" type="com.longfor.longjian.basic.po.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="reg_time" jdbcType="INTEGER" property="regTime" />
    <result column="last_login_time" jdbcType="INTEGER" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    <result column="delete_at" jdbcType="TIMESTAMP" property="deleteAt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    user_id, group_code, user_name, password, group_id, mobile, email, real_name, status, 
    reg_time, last_login_time, last_login_ip, create_at, update_at, delete_at
  </sql>
</mapper>