<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.longfor.longjian.common.dao.ProjectBaseMapper">
  <resultMap id="BaseResultMap" type="com.longfor.longjian.common.entity.ProjectBase">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER"/>
    <result column="name" property="name" jdbcType="VARCHAR"/>
    <result column="type" property="type" jdbcType="INTEGER"/>
    <result column="team_id" property="teamId" jdbcType="INTEGER"/>
    <result column="create_at" property="createAt" jdbcType="TIMESTAMP"/>
    <result column="update_at" property="updateAt" jdbcType="TIMESTAMP"/>
    <result column="delete_at" property="deleteAt" jdbcType="TIMESTAMP"/>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.longfor.longjian.common.entity.ProjectBase" extends="BaseResultMap">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="summarize_info" property="summarizeInfo" jdbcType="LONGVARCHAR"/>
    <result column="stage_id" property="stageId" jdbcType="INTEGER"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, `name`, type, team_id, create_at, update_at, delete_at
  </sql>
  <sql id="Blob_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    summarize_info
  </sql>
</mapper>